html,body{
    height: 100%;
}

*{
    color: white;
}

body{
    height: 100vh;
    text-align: center;
    background-image: linear-gradient(to right, #f0ebf0, #dacbde, #c1adcd, #a690bf, #8775b1);
}

.navbar{
    margin: 0px 0px 10px 0px;
    padding: 10px 10px;
}

h1{
    text-transform: uppercase;
    margin: 50px 0px;
}

h3{
    display: inline-block;
    margin: 10px 10px;
    text-transform: uppercase;
    font-family: Bebas Neue;
}

.container{
    padding: 15px;
    border-radius: 10px;
    background: rgb(88,139,176);
    background: radial-gradient(circle, rgba(88,139,176,1) 0%, rgba(112,206,233,1) 100%);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.container-fluid{
    margin-top: 100px;
}

.input-group span,select,input,button{
    font-family: Boogaloo;
    font-size: 21px;
    border-radius: 100px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.input-group input, .input-group option{
    font-size: 25px;
}

.btn{
    margin: 10px 10px;
    font-size: 20px;
    width: 200px;
}

.navbar img{
    margin: 0px 15px;
    height: 40px;
    width: 35px;
}

.container-btn{
    margin: 10px 90px;
}

.collapse li{
    margin: 0px 10px;
}

.navbar a{
    text-transform: uppercase;
    font-family: Bebas Neue;
    font-size: 30px;
}

.footer{
    margin: 30px 0px;
}

#github, #ig, #tiktok{
    color: rgb(121, 121, 121);
    margin: 0px 15px;
}

#video-modal .modal-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
}

#video-modal .modal-dialog .modal-content {
    width: 100%;
    height: 100%;
}

#video-modal .modal-dialog .modal-content video {
    width: 100%;
    height: auto;
}

video{
    height: 100%;
    width: 100%;
}

sup{
    color: black;
}

h1{
    font-size: 70px;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: 0px 4px 10px rgba(148, 5, 243, 0.5);
    background-image: linear-gradient(to right, #ff0018, #c1002a, #800a29, #41111e, #000000);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    animation: slidein 1s cubic-bezier(0.4, 0, 0.2, 1) forwards;
    opacity: 0;
    transform: translateX(-100%);
}

@keyframes slidein {
    from {
      transform: translateX(-100%);
    }
    
    to {
      transform: translateX(0);
      opacity: 1;
    }
}